# Conda environments
.env/
venv/
*.yml

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
